
body {

  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.container{
    width: 100%;
    height: 2415px;
 
    margin:  0 auto;
}
.wrap-container{
  width: 960px;
  height: 2315px;
 
  margin:  0 auto;
}
.container-1{
  width: 960px;
  height: 2270px;
  
}
.nav{
    width:960px ;
    height: 32px;
    margin: 0 auto;
  
    
}
.nav-1{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}
.nav-2{
    width: 400px;
    height: 30px;
    float: left;
   
}
.nav-3{
  margin-top: 5px;
    width:240px ;
    height: 30px;
    float: right;
text-align: center;
}
.city{
  width: 80px;
 height: 30px;
  font-size: 17px;
  line-height: 32px;

 margin-left: 10px;
}

.active{
  color: #e21c01;
}
.city span{
font-size: 16px;
padding: 2px 5px ;
border-radius: 2px;
cursor: pointer;
}

.img1{
  width: 20px;
  height: 20px;
  float:left;
}
.zzz{
  display: inline-block;
  width: 90px;
  height: 30px;
 
}
/* logo */
.logo{
    width: 100%;
    height: 67px;
  
   
}
.ppp{
  margin-left: -5px;
  text-align: center;
  cursor: pointer;
}
.logo-1{

    width: 324px;
     height: 64px;
     display: flex;
     justify-content: space-between;
     float: left;
}
.logo-2{
    width:310px;
    height: 64px;
    float: left;
    /* margin-left: px; */
    
}
.logo-2 img{
  width: 223px;
  height: 62px;
  margin-left: 40px;
}

/*  tab切换*/
.layui-tab{
 
  border-radius: 10px;
}
 .layui-tab-bar{
  width: 0px;
}
#layui-tab  .layui-unselect .layui-icon{
  font-size: 0px;
}
.layui-tab-title{
 
  height: 30px;
  text-align: center;
  margin: 0 auto;
  border-bottom-width: 0px;
  border-bottom-style: none;
}

.tab-1{
 
  width: 960px;
  height:88px;
  background: #e21c01;
  /* float: left; */
  border-radius: 10px;
}
.layui-tab-title li{
  width: 80px;
  height: 27px;
  line-height: 27px;
  border: 1px solid #f8d0bf;
  border-radius: 10px;
  overflow: hidden;
}
.layui-tab-card>.layui-tab-title .layui-this{
  background: #e21c01;
}
.src-box{
  width:340px;
  height: 30px;
  margin: 5px auto;
  position: relative;
}
.up{

  position: absolute;
  top: -5px;
  right: 0;
  height: 9px;
  width: 9px;
}
.up img{

  width: 9px;

  height: 7px;
}
.down{
 
  position: absolute;
  bottom: 5px;
  right: 0;
}
.down img{
  width: 9px;
  height: 7px;
}
.update{
  /* padding-top: 5px; */
  float: left;
  height: 20px;
}
#review_box{
  float: left;
  width: 270px;
  height: 30px; /* 必须 */
  overflow: hidden;
  /* 必须 */
  cursor: pointer;
  /* padding-top: 10px; */
  
  text-align: center;
 /* margin: 5px 0; */
}
#comment1 li{
  width: 240px;
  height: 30px;
  /* float: left; */
}
.imgs1{
  width: 160px;
  height: 120px;
  margin-top: -20px;  
  float: left;
}
.layui-tab-card>.layui-tab-title li{
  margin-left: 2px;
}
#inp1{
    width: 405px;
    height: 23px;  
    margin-left: 40px;
    margin-top: 30px;
    border-radius: 10px;
    margin-right: 30px;
}
.btn1{
  width: 61px;
  height: 23px;
  box-shadow: 1px 2px 2px 0px 
		rgba(171, 22, 1, 0.75);
    border-radius: 15px;
    font: bold;
    margin-right: 20px;
}
.sp{
  width: 201px;
    height: 40px;
    float: right;
    margin-top: 25px;
    margin-right: 25px;
}
.sp1{
    font-family: MicrosoftYaHei;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    letter-spacing: 0px;
    color: #fbfbfb;
    margin-bottom: 10px;
}
.botm{
  float: left;
 margin-left: 10px;
  width: 220px;
	height: 20px;
	color: #d30703;
 background: #DEDEDE;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
 
}
.sp-1{
  font-family: MicrosoftYaHei;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #e47e7c;
}
.sp-2{
  font-family: MicrosoftYaHei;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #999999;
}
.sp-3{
  width: 50px;
  height: 20px;
  
  font-family: MicrosoftYaHei;
	font-size: 12px;
	color: #000000;
 
 
}
/* 主体左 */
.mainp{
  width: 710px;
  height: 2000px;

  float: left;
  /* margin-right: 10px; */
  
  
}
.wrap-main{
  width: 100%;
  height: 420px;
}
.video-main {
  float: left;
	width: 350px;
	height: 420px;
 
  margin-right: 5px;
}
.imgs2{
  float: left;
}
.new-1{
  float: right;
  
}

.li-1{
   /* list-style: square; */
  width: 230px;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  
}
.li-1 .shuzi{
  float: left;
  height: 5px;
  width: 3px;
  margin: 10px 5px;
  background: url('../imgs/sprite.png')no-repeat -17px -16px;
}
div.layui-tab.layui-tab-brief{
  float: right;
  width: 350px;
  height: 410px;
position: relative;
  
}
.layui-tab-brief>.layui-tab-title .layui-this{
  color: #e21c01;
}
.layui-tab-brief>.layui-tab-title {
  width: 300px;
}
.layui-tab-brief>.layui-tab-title.layui-tab-title li{
  width: 110px;
  height: 20px;
  
}
.layui-tab-content .layui-tab-item{
  width: 350px;
  height: 350px;
  overflow: hidden;
}


.tab-item-0{
  /* width: 106px; */
  height: 110px;
  float: left;
background: #f9f9f9;
border-radius: 5px ;
margin-bottom: 5px;
}
.tab-item-0 img{
  width: 113px;
  height: 91px;
  float: left;
}
.tab-item-1{
  margin-top: 20px;
  width: 350px;
  height: 110px;
  
  
}
.tab-item-2{
  width: 170px;
  height: 100px;
  float: left;
  margin-left: 20px;
}
.tab-item-3{
 
  position: absolute;
  bottom: 10px;
  right: 0;
}
.tab-item-4 img{
  width: 45px;
  height: 45px;
  float: right;
}
/* 广告 */
/* 日历 */
.wrap-main-1{
  width: 100%;
  height: 500px;
  margin-bottom: 10px;
}
.main-er-l{
  float: left;
}
.main-er-l-1{
  width: 350px;
  height: 90px;
}
.main-spa{
  float: left;
  width: 240px;
  margin-bottom: 10px;
}
.main-sp-0{
  
  float: left;
  margin-right: 10px;
}
.main-p{
  font-size: 16px;
  color: #000000;
  font: bold;
}
.main-p-1{
  /* width: 200px; */
  color: #8f8787;
}
.main-er-r{
  width: 350px;
  height: 500px;
 border: 1px solid #e6e6e6;
 border-radius: 10px;
  float: right;
}
.layui-laydate-main{
  width: 350px;
}
.layui-laydate-content{
  width: 350px;
  height: 245px;
  padding: 0px;
}

.layui-laydate-content table{
  width: 350px;
}
/* 轮播图 */
fieldset,
img {
  border: none;
}
legend {
  display: none;
}
em,
strong,
cite,
th {
  font-style: normal;
  font-weight: normal;
}


#ifocus {
  width:315px;
  height: 180px;
  margin: 20px;

  background: #F8F8F8;
}
#ifocus_pic {
  display: inline;
  position: relative;
  float: left;
  width: 220px;
  height: 130px;
  overflow: hidden;
  margin: 0px 0 0 10px;
}
#ifocus_piclist {
  position: absolute;
}
#ifocus_piclist li {
  width: 220px;
  height: 130px;
  overflow: hidden;
}
#ifocus_piclist img {
  padding-top: 10px;
  width: 220px;
  height: 130px;
}
#ifocus_btn {
  display: inline;
  float: right;
  width: 33px;
  margin: 9px 9px 0 0;
}
#ifocus_btn li {
  width: 33px;
  height: 43px;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
#ifocus_btn img {
  width: 33px;
  height: 40px;
  margin: 0px 0 5px 0px;
}
#ifocus_btn .current {
  
  opacity: 1;
  filter: alpha(opacity=100);
}
.msg{
  margin-top: 10px;
  font-size: 20px;
  float: left;
}
/* 精灵图 */
.tuijian{
  width: 350px;
  height: 207px ;
  
}
.tuijian ul .tuijainli{
  width: 350px;
  height: 20px;
  margin-bottom: 5px;
 
}
.tuijain-div{
  display: inline-block;
  width: 216px;
  height: 20px;
  border-left: 1px solid #666;
  overflow: hidden;
   white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 5px;
}
.tuijian1{
  display: inline-block;
 margin-top: 5px;
  height: 13px;
  width: 20px;
  
  
}
 .tuijian2{
display: inline-block;
  font-size: 14px;
  height: 20px;
  width: 80px;
  overflow: hidden;
   white-space: nowrap;
  text-overflow: ellipsis;
}
  ul li:nth-child(odd) .tuijian1 {
  background: url('../imgs/sprite.png')no-repeat -17px -24px;
}
 ul li:nth-child(even) .tuijian1 {
  background: url('../imgs/sprite.png')no-repeat -17px -42px;
}
/* 第三板块 */
.wrap-main-2{
  width: 100%;
  height: 330px;
  margin-bottom: 5px;
 
  
}
/* 地铁 */
.subway{
  width: 350px;
  height: 330px;
  float: left;
  margin-right: 6px;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
}
  .subway .layui-tab{
    width: 350px;
    height: 300px;
    margin-right: 5px;
    float: left;
    margin-top: 0px;
  }
  .subway .layui-tab img{
    width: 350px;
    height: 240px;
  }
  .subway .layui-tab-title{
    width:350px ;
    height:30px ;
    border-bottom-style:none
  }
.subway .layui-this{
  font-size: 14px;
  color: #e21c01;
  font-weight: bold;
}
#tab-1 .layui-show{
  width: 350px;
  height: 300px;
}
.map{
  color: #2b2d2d;
  font-size: 14px;
	font-weight: bold;
}
/* 套的tab */
.subway .layui-tab {
  margin: 0px;
}
.subway .layui-tab  .layui-tab-content{
  width: 350px;
  height: 230px;
  padding: 0px 0 10px 0;
}
#tab-1 .layui-tab-title li{
  min-width:  30px;
  width: 30px;
}
#line li:nth-child(1){
  border-color: #e21c01;
}
#line li:nth-child(2){
  border-color: blue
}
#line li:nth-child(3){
  border-color: yellow
}
#line li:nth-child(4){
  border-color: grey
}
#line li:nth-child(5){
  border-color: purple
}
/* bbs论坛 */
.bbs{
  width: 350px;
  height: 330px;
 border: 1px solid #f1f1f1;
  float: left;
 border-radius: 10px;
}
.bbs-div{
  width: 315px;
  height: 40px;
  padding:10px 15px 0 15px ;
}
 .bbs-luntan{
  color: #e21c01;
  font-size: 20px;
  
 
}
.more{
  padding-top: 5px;
  float: right;
}
.bbs-news{
  width: 320px;
  height: 215px; 
  margin: 0 15px;
}

.bbs-news .bbs-img{

  display: inline-block;
  width: 320px;
  height: 70px;
  padding-bottom: 15px;
}
.bbs-li{
 
  width: 315px;
  height: 30px;
  margin-bottom: 5px;
  background: #f1f1f1;
  border-radius: 3px;
  
}
.bbs-content:hover{
  color: white;
}
.bbs-li a{
  width: 315px;
  height: 30px;
}


.bbs-content{
  padding-top: 5px;
  display: inline-block;
  width: 216px;
  height: 25px;
 font-size: 16px;
  overflow: hidden;
   white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
 .bbs-shuzi{
padding-top: 7px;
color: #e21c01;
font-weight: bold;
  float: left;
  font-size: 16px;
  height: 25px;
  width: 20px;
}
 .bbs-wei{
  display: inline-block;
padding-top: 8px;
  font-size: 12px;
  height: 22px;
  width: 70px;
  overflow: hidden;
   white-space: nowrap;
  text-overflow: ellipsis;
}
.bbsactive{
  
  font-size: 16px;
  width: 320px;
  background: #d90000;
height: 50px;
border-radius: 5px;
white-space: wrap;
text-align: center;

}
.knowlege{
  width: 710px;
  height: 300px;
  margin-bottom: 10px;
}
.zhidao{
  width: 350px;
  height: 300px;
  outline: 1px solid #eaeaea;
  margin-right: 10px;
  float: left;
  border-radius: 5px;
  /* border: 1px solid red; */
}
.zhidao .layui-tab-title{
  width: 350px;
  height: 30px;
}
.layui-tab{
  margin: 0;
  border: 0;
}
.layui-tab-content{
  padding: 0;
}
#zhidao .layui-tab-title .layui-tab-more .layui-tab-bar{
  width: 0px;
}
#zhidao .layui-unselect .layui-icon{
  font-size: 0px;
}
#zhidao .layui-tab .layui-show{
  width: 350px;
  height: 180px;
 
}
.layui-show .biaoti1{
  display: inline-block;
  width: 100px;
  height: 30px;
  margin:0 5px 0 125px;
  font-size: 16px;
  color: #999999;
  
}
 .layui-show .biaoti2{
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 20px;
  font-size: 16px;
  color: #999999;
}
.zhidao .layui-tab-content{
  width:350px ;
  height: 180px;
}
.zhidao .layui-tab-content ul{
  width: 320px;
  height: 140px;
  margin: 0 15px ;
}
.zhidao .layui-tab-content li{
  width: 320px;
  height: 20px;
  padding-bottom: 5px;
  border-top: 1px #999999 dashed;
  
  
}


.zhidao-li .shuzi{
 
  margin:15px 5px 0 5px ;
  float: left;
  font-size: 16px;
  height: 5px;
  width: 3px;
  
  background: url("../imgs/sprite.png")no-repeat -17px -16px;
}
.zhidao-li .shuzi1{

 margin-top: 5px; 
   float: left;
  font-size: 14px;
  height: 20px;
  width: 50px;

 
}
.zhidao-li .zhidao-content{
  margin-left: 5px;
  margin-top: 5px;
  display: inline-block;
height: 20px;
width: 200px;
font-size: 14px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
.zhidaoicon{
  margin-top: 5px;
display: inline-block;

  font-size: 16px;
  margin-left: 5px;
  height: 15px;
  width: 25px;
  overflow: hidden;
   white-space: nowrap;
  text-overflow: ellipsis;
  background: url("../imgs/sprite.png")no-repeat -17px -59px;
}
 .zhidaoicon2{
  margin-top: 5px;
  display: inline-block;
    font-size: 16px;
    margin-left: 5px;
    height: 15px;
    width: 25px;
    overflow: hidden;
     white-space: nowrap;
    text-overflow: ellipsis;
    background: url("../imgs/sprite.png")no-repeat -17px -76px;
  }
.sousou{
  width: 320px;
  height: 25px;
  padding: 0 15px;
}
.sousou span{
  font-size: 14px;
  font-weight: bold;
  width: 80px;
  height: 25px;
}
.sousou input{
  width: 180px;
  height: 25px;
}
.sousou img{
  float: right;
  width: 30px;
  height: 25px;
}
.shaoke{
  float: left;
  width: 350px;
  height: 300px;
  outline: 1px solid #eaeaea;
  border-radius: 5px;
}
#tu{
  width: 330px;
  height: 250px;
  padding: 0 10px;
  
}
#tu img{
  width: 78px;
  height: 78px;
  margin-bottom: 5px;
}
#tu img:nth-child(3){
  width: 156px;
  height: 78px;
  border-bottom: 1px;
}

.help-media{
  width: 710px;
  height: 250px;
}
.help{
  width: 350px;
  height: 250px;
  outline: 1px solid #eaeaea;
  margin-right: 10px;
  float: left;
  border-radius: 5px;
}
.media{
  float: left;
  width: 350px;
  height: 250px;
  outline: 1px solid #eaeaea;
  border-radius: 5px;
}
 .help-head{
   width: 350px;
   height: 30px;
   font-size: 16px ;
   font-weight: bold;
 }
 .help-head span{
   color: #e21c01;
 }
 .dianhuaicon{
 
   width: 20px;
   height: 20px;
   float: left;
   margin-top: 2px;
   background: url("../imgs/sprite.png") no-repeat -17px -130px;
 }
.tel{
  color: #e21c01;
  font-weight: bold;
}
.youxiang{
  float: left;
  width: 124px;
  height: 22px;
  margin-top: 5px;
  font-weight: bold;
}
 .youxiangicon{
float: left;
  background: url('../imgs/sprite.png') no-repeat -17px -100px;
	width: 20px;
	height: 20px;
  margin-top: 5px;
 }
 .help-content{
   font-size: 14px;
width: 350px;
height: 60px;
 }
 .lianxi{
   width: 350px;
   height: 40px;
   border-bottom: 1px solid #eaeaea;
 }
 .lianxi li{
   width: 175px;
   height: 40px;
   float: left;
 }
 .lianxi li:nth-child(1){
   
   width: 175px;
   height: 40px;
   font-size: 20px;
   color:#e21c01;
 }
 .yonghu,.shanghu {
   width: 125px;
   padding: 15px 25px;
   height: 90px;
   font-size: 14px;
   float: left;
  
 }
 .shanghu_title{
  font-weight: bold;
 }
 .yonghu li,.shanghu li{
   width: 160px;
   height: 20px;
   cursor: pointer;
  
 }
 .yonghu-dian{
  background: url('../imgs/sprite.png') no-repeat -17px -16px;
	width: 10px;
	height: 8px;
  float: left;
  margin-top: 8px;
 }
 .zanzhu{
   width:320px;
   height: 200px;
   padding: 0 15px;
 }
 .zanzhu-1{
   width: 320px;
   height: 50px;

   font-size: 16px;
 }
 .zanzhu-1 img{
   width: 92px;
   height: 50px;
   float: left;
 }

 /* 右侧 */
 .main-r{
   width: 240px;
   height: 2000px;

   float: right;
 }
 /* 登录 */
 .login{
   width: 240px;
   height: 120px;
   
   border: 1px solid #DEDEDE;
 }
 .load{
   font-size: 14px;
   font-weight: bold;
   background: #f9f9f9;
   padding-bottom: 10px;
 }
 .load span{
   color: #e21c01;
 }
 .user{
   width: 240px;
   height: 70px;
   border-bottom: 1px #f9f9f9 solid;
 }
 #user{
   width: 90px;
   height: 20px;
 }
 #pwd{
   height: 20px;
   width: 90px;
   margin-left: 15px;
 }
 .btn-login{
   color: white;
   font-size: 14px;
   background: #e21c01;
   width: 50px;
   font-weight: bold;
   height: 30px;
 cursor: pointer;
  border-radius: 10px;
 }
 .usersp{
   margin-bottom: 5px;
 }
 .user span{
   display: inline-block;
   height: 25px;
   width: 240px;

 }
 
 .login li{
   float: left;
   width: 120px;
 }
 .user-sp{
   display: inline-block;
   background: url('../imgs/sprite.png')no-repeat -17px -16px;
   height: 5px;
   width: 5px;
   margin-left: 10px;
  
 }
 .utext{
   cursor: pointer;
 }
 .zhuanpan{
   width: 240px;
   height: 90px;
   border: 1px solid #DEDEDE;
   margin-top: 10px;

 }
 .zhaunpan img{
  margin-top: 12px;
 }
 .choujiang{
  width: 240px;
  height: 195 px;
  /* border: 1px solid #DEDEDE; */
 }
 .choujiang img{
   margin-top: 10px;
 }

 .qiangquan{
  width: 240px;
  height: 245px;
 border: #DEDEDE 1px solid;
 margin-top: 13px;
 border-radius: 10px;

 
}
#qiangquan2{
  width: 240px;
  height: 140px;
  overflow: hidden;
}
.qiangquan-div{
  width: 210px;
  height: 40px;
  padding:0px 15px 0 15px ;
}
 .qq-zi{
  color: #e21c01;
  font-size: 14px;
  float: left;
  padding-top: 8px;
}
.qqq{
  float: left;
  padding-top: 5px;
}
.more1{
  height: 20px;
  padding-top: 6px;
  float: right;
}
.qiangquan .layui-tab-title {
  width: 240px;
}
.qiangquan .layui-tab-title li{
  min-width: 30px;
  width: 30px;
}
#qiangquan-tab-item{
  width: 350px;
  height: 180px;
}
.qq-tit1{
  display: inline-block ;
  text-indent: 30px;
  width: 150px;
  height: 20px;
}
.qq-tit2{
  display: inline-block ;
  width: 40px;
  height: 20px;
}
.qq-tit3{
  display: inline-block ;
  width:40px;
  height: 20px;
}
.qiangquan .zhidao-li{
  width: 240px;
  height: 25px;
  border-top: 1px #999999 dashed;
  cursor: pointer;
}
.qiangquan .shuzi1{
  width: 120px;
}
.qiangquan .zhidao-content{
  width: 40px;
  color: #e21c01;
}
.qiangquan .zhidao-wei{
  display: inline-block;
  width: 40px;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
 text-overflow: ellipsis;
}
/* 今日推荐 */
.daytuijian{
  width: 240px;
  height: 400px;
  border: 1px #DEDEDE solid;
  border-radius: 10px;
  margin-top: 10px;
}
.daycontent{
  width: 240px;
  height: 325px;
}
.daypart{
  width: 240px;
  height: 80px;
  border-bottom: 1px #999999 dashed;
}
.daysp-1{
  width:90px ;
  height: 80px;
  float: left;
}
.daysp-2{
 
  width:150px ;
  height: 80px;
  float: left;
  
}

.day-1{
  padding: 0 15px;
 
}
.dayp1,.dayp2,.dayp3{
  cursor: pointer;
}
.daysp-1 img{
  width:90px ;
  height: 80px;

}
.dayp1{
  font-size: 16px;
  color: #e21c01;
  cursor: pointer;
  padding: 5px 0;
}
.dayp2 span{
  color: #666666;

}
.dayp3 span{
  color: #999999;

}
/* 全景逛店 */
.quanjing{
  width: 240px;
  height: 180px;
  margin-top: 10px;
  border: 1px #DEDEDE solid;
  border-radius: 10px;
}
.quanjingpart{
  width: 220px;
  padding: 0 10px;
  
}
/* 折扣 */
.zhekou{
  width: 240px;
  height: 340px;
  border: 1px #DEDEDE solid;
  border-radius: 10px;
  margin-top: 10px;
}
#zhekou1 .zhidao-li{
  width: 240px;
  height: 20px;
  padding-bottom: 5px;
  border-bottom: 1px #999999 dashed;
}

#zhekou1 .zhidao-content{
  width: 170px;
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
#zhekou2 .zhidao-content{
  width: 170px;
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
#zhekou2 .zhidao-li{
  width: 240px;
  height: 20px;
  padding-bottom: 5px;
  border-bottom: 1px #999999 dashed;
}

#parent{
  width: 240px;
  height: 210px;
  overflow: hidden;
    cursor: pointer;
}
#zhekou1,#zhekou2{
  
  width: 240px;
  height: 210px;
}
/* 加盟 */
.jiameng{
  margin-top: 10px;
  width: 240px;
  height: 365px;
  border: 1px #DEDEDE solid;
  border-radius: 10px;
}
.jiamengpart{
  width: 240px;
  height: 160px;
  border-bottom: 1px #999999 dashed;
  
}
.jiameng .daypart{
  width: 120px;
  height: 80px;
  float: left;
  border: none;
}

.jiameng .zhidao-li{
  width: 240px;
  height: 25px;
  /* padding: 10px 0; */
  border-bottom: 1px #999999 dashed;
  cursor: pointer;
}
.jiameng .zhidao-content{
  width: 160px;
}
/* 底部 */
.footer{
  width: 960px;
  height: 80px;
 
}
.footer ul{
  width: 720px;
  height: 20px;
  padding: 10px 170px;
}
.footer li{
  float: left;
  width: 70px;
  height: 20px;
  color: #454545;
  border-right: 1px #DEDEDE solid;
  font-size: 14px;
  padding-left: 10px;
  cursor: pointer;
  
}
.footer li:last-child{
  border-right: none;
}
.footer-p{
  width: 
  960px;
  height: 20px;
  color: #767676;
  text-align: center;
}

