html,
body {
  position: relative;
  height: 100%;
}
a{
  text-decoration: none;
  color: #000;
}
li{list-style: none;}
*{
    margin: 0;
    padding: 0;
}
input,
textarea,
select,
button {
  font: 12px Helvetica, Arial, sans-serif;
}
table {
  border-collapse: collapse;
}